.bg-taskboard {
  background: hsla(282, 36%, 25%, 1);

  background: linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#492957", endColorstr="#744A6D", GradientType=1 );
}
